body {
    /* Fondo de la página */
    background: url('https://as1.ftcdn.net/v2/jpg/06/13/55/14/1000_F_613551428_R78wWMO1mAqc59iCy33TG8SwpOxpyrgv.jpg') no-repeat;
    background-size: cover;
}

.main-frame-cal {
    /* Estilo del contenedor principal */
    width: 50%;
    padding: 50px;
    height: 450px;
    border-radius: 30px;
    background-color: rgba(173, 171, 171, 0.759);
    box-shadow: 0px 0px 20px 0px rgba(247, 240, 240, 0.775);
    margin: 7% auto;
}

.main-frame-cal label {
    /* Estilo de las etiquetas del formulario */
    font-weight: bold;
}

button {
    /* Estilo del botón */
    float: right;
}

.home {
    /* Estilo del enlace de regreso */
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
}
