body {
    /* Fondo de la página */
    background: url('https://www.shutterstock.com/image-vector/minimal-elegant-seamless-pattern-texture-600w-1954185523.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-frame-cal {
    /* Estilo del contenedor principal */
    width: 50%;
    padding: 50px;
    height: 450px;
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 0.759);
    box-shadow: 0px 0px 20px 0px rgba(54, 49, 49, 0.775);
    margin: 7% auto;
}

.main-frame-cal label {
    /* Estilo de las etiquetas de etiquetas del formulario */
    font-weight: bold;
}

button {
    /* Estilo del botón */
    float: right;
}

.home {
    /* Estilo del enlace de regreso */
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
}
